<!DOCTYPE html>
<html>
  <head>
    <title>Bookdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <h1> Book List</h1>
      <ul>
          <% @books each do |book| %>
      <%li><% = book.bookname %></li>
      <% end %>
      </ul>
  </body>
</html>
